* { 
    background-color: rgb(140,232,255,255);
    color: black;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; 
}

h1 {
    color: red;
    text-align: center;
}


h2 {
    color: red;
}

.body{
    /* display: flex; */
    height: 100%;
}
#namesList span {
    /* display: block ; */
    color:red;
    margin-bottom: 10px;
    font-size: 15px;

    padding: 0;
    float: left;
    clear: left;

}


.amiibo-details {
    margin: auto;
    width: 30%;
    border: solid red;
    padding: 5px;
    background-color: aliceblue;
    position: relative;
    
}

.amiibo-details * {
    font-size: 15px;
    background-color: aliceblue;
    margin: auto;
    width: 350px;
}

#image {
  width: 270px;
  height: auto;

}


#header {
    margin: auto;
    width: 50%;
    padding: 10px;
}

footer {
    
    width: 50%;
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
}


/* div {
    display:none;
} */

/* span:hover + div {
    display: block;
}
 */

 .hovertext {
    position: absolute;
    border-bottom: 1px dotted black;
  }
  
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }
 

  #namesList {
    background-color: rgb(140,232,255,255);
    width: 400px;
    height: 700px;
    overflow: auto;
  }