

* { 
  font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  margin: 0%;
} 
  
     
         


#header {
  left : 0;
  display: flex;
  background: #484848;
  width: 100%;
  margin-top: 0;
}

h1{
  display: flex;
  color: white;
  align-items: center;
  font-size: 30px;
}


h2 {
  color: #e60012;
  margin-top: 25px;
  margin-bottom: 10px;
}

.body{
  height: 100%;
}
#namesList span {
  color:#484848;
  margin-bottom: 10px;
  font-size: 15px;
  padding: 5px;
  float: left;
  clear: left;

}

#hovercolor:hover {
  color:red ;
}


.amiibo-details {
  margin: auto;
  width: 30%;
  border: solid #484848;
  padding: 5px;
  position: relative;
  color: #484848;
  border-radius: 15px;
  border-width: 2px;
  
}

.amiibo-details * {
  font-size: 15px;
  margin: auto;
  width: 350px;
}



#image {
width: 270px;
height: auto;
margin-left: auto;
margin-right: auto;
}


footer {
  color: white;
  width: 100%;
  text-align: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
  font-size: 14px;
  background-color: #484848;
}

footer *{
  font-size: 14px;
  display: flex;
  width: 100%;
}

a{
  font-size: 14px;
  display: flex;
  width: 100%;
}


.hovertext {
  position: absolute;
}

.hovertext:before {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}


#namesList {
  width: 400px;
  height: 650px;
  overflow: auto;
  margin-bottom: 15px;
  cursor: pointer;
}


#wishlist {
  font-size: 30px;
}


button{
  cursor: pointer;
  outline: 0;
  color: #AAA;
  outline: #e60012;
  width: 55px;
  height: auto;

}

.btn:focus {
  outline: none;
}

.green{
  color: #a4c70e;
}

.red{
  color: #e60012;
}



.content div {
  bottom: 50%;
  right: 10%;
  left: 10%;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
}

.content:hover {
  cursor: pointer;
}

.content:hover div {
  width: 150px;
  padding: 8px 8px;
  visibility: visible;
  opacity: 0.7;
}

#name {
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 35px;
}

#header * {
  width: 270px;
  height: auto;
}