* { 
    background-color: rgb(140,232,255,255);
    color: black;
}

h1 {
    color: red;
}


h2 {
    color: red;
}


#namesList span {
    display: block ;
    color:red
}


.amiibo-details {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}


#header {
    margin: auto;
    width: 50%;
    padding: 10px;
}